<div class="container mt-4">
    <h2>Student List</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th style="width: 10%;">ID</th>
                <th style="width: 20%;">Student Name</th>
                <th style="width: 20%;">Email</th>
                <th style="width: 10%;">Age</th>
                <th style="width: 10%;">Phone</th>
                <th style="width: 30%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.age}}</td>
                <td>{{student.phone}}</td>
                <td>
                    <button class="btn btn-primary btn-sm me-2" (click)="editStudent(student.id)">Update</button>
                    <button (click)="deleteStudent(student.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
